html {
    margin: 0px;
    padding: 0px
}

body {
    margin: 0;
    padding: 0;
    background: #red;
    font-size: 12px;
    overflow: visible;
    background-image: url(../images/liying/yuan.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.8
}

#mainDiv {
    width: 100%;
    height: 100%
}

#loveHeart {
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: 0px;
    float: right;
    width: 790px;
    height: 700px
}

#garden {
    width: 100%;
    height: 100%
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}

#words {
    font-family: digit;
    width: 500px;
    font-size: 36px;
    color: #666
}

#messages {
    display: none;
    color: #9933FF
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none;
    color: #9933FF
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic
}

#clickSound {
    display: none
}

#code {
    position: absolute;
    top: 10px;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 440px;
    height: 500px;
    color: #333;
    font-family: digit;
    font-size: 22px
}

#code .string {
    color: #FF0000
}

#code .keyword {
    color: #9933FF
}

#code .placeholder {
    margin-left: 15px
}

#code .space {
    margin-left: 7px
}

#code .comments {
    color: #9933FF
}

#copyright {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: #666
}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}

#copyright a {
    color: #666
}

#canvas {
    z-index: 99999
}
